Repository maehr/revealjs-presentation-template, changes with the labels that .github/labeler.yml gives for each.
All labels: src, docs, github

.github/labeler.yml:

src:
- docs/*
- .editorconfig
- .gitattributes
- .gitignore
- .gitmodules

docs:
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE.md
- README.md
- SECURITY.md

github:
- .github/*

Update index.md
  docs/index.md
Labels: src

Update index.md
  docs/index.md
Labels: src

link to template fixed
  README.md
  docs/index.md
Labels: src, docs

reveal moved to vendor and mathjax support
  .gitmodules
  docs/_layouts/default.html
  docs/index.md
Labels: src

Update README.md
  README.md
Labels: docs

Update index.md
  docs/index.md
Labels: src

Update default.html
  docs/_layouts/default.html
Labels: none

Update README.md
  README.md
Labels: docs

Update SECURITY.md
  SECURITY.md
Labels: docs

Update Gemfile.lock
  docs/Gemfile.lock
Labels: src

Update reveal.js gems and fix paper.css
  README.md
  docs/Gemfile.lock
  docs/_layouts/default.html
Labels: src, docs

submodule fix
  README.md
Labels: docs

fix submodule readme
  README.md
Labels: docs

add vendor folder
  docs/assets/vendor/.gitkeep
Labels: none

gitmodule fix
  .gitmodules
  README.md
Labels: src, docs
